* {
	box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: rgb(49, 49, 49);
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  color: #31405D;
}

h1{
	font-size: 2.5rem;
	font-weight: 600;
}

h2{
	font-size: 1.8rem;
}

h3{
	font-size: 1.3rem;
}

.intro_text {
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 2.2rem;
	color: #f3f3f3;
	letter-spacing: .05rem;
	text-align: center;
	padding: 0 15px;

}

p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.9rem;
}

img {
  width: 100%;
}

a {
  color: #31405D;
  text-decoration: none;
}

.logo{
	max-width: 150px;
}

header{
	background-color: #101113;
	padding: 1px 0;
	box-shadow: 0px 5px 8px 0px rgba(8, 8, 8, 0.23);
	position: relative;
}


nav > ul {
	list-style-type: none;
	padding: 0;
	margin: 1em 0;
}


nav > ul > li > a {
	padding: 0 5px;
	margin-left:60px;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: .2rem;
	font-weight: 500;
	background-image: linear-gradient(
      to right,
      #f9004d,
      #f9004d 50%,
      #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
		background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }

nav > ul > li > a:before {
    content: '';
    background: #f9004d;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
nav > ul > li >  a:hover {
   background-position: 0;
  }
  
nav > ul > li >  a:hover::before {
    width:100%;
  }


main {
	padding-top: -56px;
}



.navtoggle li:not(:last-child) {
	display: none;
  }

.navtoggle, .navtoggle.responsive {
	position: relative;
}

.navtoggle li .icon {
	position: absolute;
	right: 0;
	top: 50px;
	font-size: 20px;
	padding-right: 0;
}

.button.readmore {	
  display: inline-block;
  background-color: #31405D;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #050b16;
  transition-duration: 0.2s;
  transition-property: opacity;

}

.button.readmore:hover {
	background-color: #f9004d;
	color: #ffffff;
	text-decoration: none;
	opacity: 0.8;
}

.button.resume {
	background-color: transparent;
	color: #31405D;
	text-transform: uppercase;
	border: 2px solid #31405D;
	border-radius: 3px;
	padding: 10px;
	
}

.button.resume:hover {
	background-color: #f9004d;
	color: #ffffff;
	text-decoration: none;
}

.container {
	padding: 0 15px;
}

.row{
	margin: 25px 0;
}

#work .row {
	padding-bottom: 25px;
	max-width: 1900px;
	display: flex;
	flex-wrap: wrap;
}

#work{
	background-color: #f3f3f3;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#hero {
	background-color: #161618;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#hero h1 {
	font-size: 45px;
	font-weight: 600;
	color: #f3f3f3;
	margin: 20px 0 0;

}

#hero h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
	font-weight: 300;
}

#hero h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: 300;
}

.hero_image{
	max-width: 600px;
}

/* #hero h1 {
	margin: 0;
	padding: 0.5em 0;
	color: #E3D3C6;
	font-size: 2.2rem;
	font-weight: 600;
	text-align: center;

} */

#hero span {
	display: block;
	margin: 0;
	color: #E3D3C6;
	font-size: 2rem;
	font-weight: 400;

}


#work h2 {
	text-align: center;
}


.navtoggle.responsive li  {
	display: block;
  }

.navtoggle.responsive nav {
	padding: 24px 0 0;
  }

.navtoggle.responsive li  {
	display: block;
	padding: 10px 0;
	border-top: 1px solid rgb(227, 211, 198, 0.5);
  }
  
.navtoggle.responsive li:last-child  {
	padding: 0 0 10px;
  }


/***************FOOTER AND CONTACT*******************/

a svg {
	filter: invert(8%) sepia(96%) saturate(7139%) hue-rotate(336deg) brightness(106%) contrast(104%);
}
.footer_icon{
	list-style-type: none;
	padding: 0;
}

.footer_icon > ul{
	padding-inline-start:0;
}

.footer_icon > ul > li {
	display: inline;
}

a > svg {
	max-width: 100px;
	margin: 24px;

}

#contact h2 {
	text-align: center;
	color: #E3D3C6;
}

#contact p {
	color: #f3f3f3;
}

footer{
	background-color: #101113;
	text-align: center;
	padding: 10px 0;
	box-shadow: 0px 5px 8px 0px rgba(19, 7, 53, 0.23);
	position: relative;
}

.button.contact {
	background-color: transparent;
	color: #E0F3F9;
	text-transform: uppercase;
	border: 2px solid #E0F3F9;
	border-radius: 3px;
	padding: 10px;
	padding: 20px;
	display:inline-block;
}

.button.contact:hover {
	background-color: #E0F3F9;
	text-decoration: none;
	color: #5D0E2F;
	padding: 20px;
}

.btn_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn > a {
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: .2rem;
	font-weight: 500;
	background-image: linear-gradient(
      to right,
      #f9004d,
      #f9004d 50%,
      #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
		background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }

.btn > a:before {
    content: '';
    background: #f9004d;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
.btn > a:hover {
   background-position: 0;
  }
  
.btn > a:hover::before {
  width:100%;
}

	/***************ABOUT SECTION*******************/

.about_container{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	max-width: 1900px;
	margin: 0 auto;
	padding-top: 5%;
}

.about_container img {
	padding-top: 15%;
}

.about_text {
	max-width: 500px;
}

#about .row {
		padding-bottom: 25px;
		max-width: 1000px;
}
	
#about h2 {
		text-align: left;
}

.container_skills{
	display: flex;
	justify-content: space-evenly;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.9rem;
}

.skills h3{
	text-transform: uppercase;
	color:#535353;
	font-size: 1.2rem;
	margin-top: 0;
}

.tools h3 {
	text-transform: uppercase;
	font-size: 1.2rem;
	color:#535353;
	margin-top:0;
}

.hero_text h2{
	color: #f3f3f3;
	font-size: 2.5rem;
	letter-spacing: .2rem;
}

.container_skills li {
	list-style: none;
	font-weight: 600;
	line-height: 2.5rem;
}

.images {
	cursor: pointer;
	border-radius: 50%;

	filter:grayscale(100%);
	transition: all 800ms;
	
}

.images:hover{
	filter:grayscale(0%);
	

}

/******************************WORK**************************************/

#work h2 {
	text-align: left;
}

.mid_prototype {
	width: 50%;
	height: auto;

}

.mid_display{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.mid_display_title{
	display: flex;
	justify-content: start;
}

.mid_display_cards{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.mid_display_cards > picture{
	max-width: 250px;
	
}

.mid_display picture{
	text-align: center;
	
}

.high_prototype {
	width: 50%;
	height: auto;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}


.row::after {
	content: "";
	clear: both;
	display: table;
}

.container_work{
	display: flex;
	flex-wrap: wrap;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.9rem;
	justify-content: space-between;
}

.work h3{
	text-transform: uppercase;
	color:#535353;
	font-size: 1.2rem;
	margin-top: 0;
}

.work h4{
	text-transform: uppercase;
	color:#31405D;
	font-size: 2.2rem;
	margin-top: 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

nav > ul > li {
	display: inline-block;
}

.navtoggle li:not(:last-child) {
	display: inline-block;
}

.navtoggle li:last-child {
	display: none;
}

header {
	text-align: unset;
	padding: 20px 0 13px;
}

.logo{
	max-width: 350px;
}
	
nav {
	width: auto;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}


.row::after {
	content: "";
	clear: both;
	display: table;
}

.col-md-6 {
	width: 50%;
}

.container_skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

}

.col-md-2 {
	width: 50%;
	padding: 10px;
}

#work .col-md-2 {
	width: 20%;
}

.project{
	display: flex;
	flex-wrap: wrap;
	
}

.images {
	cursor: pointer;
	border-radius: 50%;

	filter:grayscale(100%);
	transition: all 800ms;
	margin-left: 25px;

}

.navtoggle.responsive nav {
	padding: 0;
  }
  
.navtoggle.responsive li  {
	display: block;
	padding: 10px 0;
  }
  
.navtoggle.responsive li:last-child  {
	padding: 0;
  }



}
	
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
	
header {
	text-align: unset;
	padding: 20px 0 13px;
		}
		
nav {
	width: auto;
	float: right;
	margin-top: 11rem;
	}


#hero h1{
	font-size: 2.6rem;
	font-weight: 600;
}

#work h2{
	font-size: 2rem;
}

h3{
	font-size: 1.5rem;
}

.intro_text {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 2.2rem;
	color: #f3f3f3;
	letter-spacing: .05rem;
	text-align: center;
	padding: 0 200px;

}

p {
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.9rem;
}

.col-md-6 {
	width: 50%;

}

.container {
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;

}

.hero_text{
	text-align:left;
}

.container_skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

}

.profile img {
	width: 80%;
	height: auto;
}

.project{
	display: flex;
	flex-wrap: wrap;
}

.project h2{
	text-align: center;
}

}


	
	/* ==============================
	X-large devices (1440px or larger)
	================================= */
	@media only screen and (min-width: 1440px) {

#hero h1{
	font-size: 3rem;
	font-weight: 600;
	}
		
#work h2{
	font-size: 2.5rem;
	}
		
h3{
	font-size: 1.5rem;
	}
		
.intro_text {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 2.2rem;
	color: #f3f3f3;
	letter-spacing: .05rem;
	text-align: center;
	padding: 0 200px;
		
	}
		
p {
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.9rem;
}

.container_skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

}

.project{
	display: flex;
	flex-wrap: wrap;
}

.resize_persona{
	width: 1100px;
}
	}
	
