body {
  font-family: 'Lato', sans-serif;
  color: rgb(49, 49, 49);
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  color: #31405D;
}

h1{
	font-size: 3rem;
	font-weight: 600;
}

h2{
	font-size: 2.5rem;
}

h3{
	font-size: 2rem;
}

.intro_text {
	font-size: 1.7rem;
	font-weight: 300;
	line-height: 2.2rem;

}

p {
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.9rem;
}

img {
  width: 100%;
}

a{
  color: #31405D;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #5D0E2F;
  text-decoration: underline;
}

.button.contact {
	background-color: transparent;
	color: #5D0E2F;
	text-transform: uppercase;
	border: 2px solid #5D0E2F;
	border-radius: 3px;
	padding: 10px;
  }

.button.contact:hover {
	background-color: #5D0E2F;
	color: #ffffff;
	text-decoration: none;
  }

.button.readmore {
	background-color: transparent;
	color: #31405D;
	border: 2px solid #31405D;
	border-radius: 3px;
	padding: 10px;
  }

.button.readmore:hover {
	background-color: #31405D;
	color: #ffffff;
	text-decoration: none;
  }

.button.resume {
	background-color: transparent;
	color: #31405D;
	text-transform: uppercase;
	border: 2px solid #31405D;
	border-radius: 3px;
	padding: 10px;
  }

.button.resume:hover {
	background-color: #31405D;
	color: #ffffff;
	text-decoration: none;
  }
